server:
  port: 9999
  tomcat:
    relaxed-query-chars: "[, ]"

logging:
  level:
    org.springframework:
        security: DEBUG
        web.cors: DEBUG

spring:
  application:
    name: intern_project
  jackson:
    time-zone: "Asia/Ho_Chi_Minh"
  security:
    user:
      name: none
      password: none
    oauth2:
      client:
        registration:
          google:
            client-name: Google
            client-id: "642475872375-v0vgnis6tijp1719n9n4ae42kdivd9an.apps.googleusercontent.com"
            client-secret: "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"
            scope: openid, email, profile, https://www.googleapis.com/auth/user.gender.read, https://www.googleapis.com/auth/user.birthday.read
            authorization-grant-type: authorization_code
            redirect-uri: "/auth/google/callback"
          github:
            client-name: GitHub
            client-id: "Ov23liav8JWBXBTJbfsE"
            client-secret: "1577f4856eb8fc9e9c7c24df5b9520ad5d8e8bd6"
            scope: read:user user:email
            authorization-grant-type: authorization_code
            redirect-uri: "/auth/github/callback"
        provider:
          google:
            authorization-uri: "https://accounts.google.com/o/oauth2/v2/auth"
            token-uri: "https://oauth2.googleapis.com/token"
            user-info-uri: "https://people.googleapis.com/v1/people/me"
            user-name-attribute: sub
          github:
            authorization-uri: "https://github.com/login/oauth/authorize"
            token-uri: "https://github.com/login/oauth/access_token"
            user-info-uri: "https://api.github.com/user"
            user-name-attribute: login

  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/intern_project?createDatabaseIfNotExist=true&autoReconnect=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Ho_Chi_Minh&useSSL=false}
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    username: ${DBMS_USERNAME:root}
    password: ${DBMS_PASSWORD:sa}
  jpa:
    database: mysql
    database-platform: "org.hibernate.dialect.MySQL8Dialect"
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      url: ${REDIS_CONNECTION:redis://localhost:6379}
      timeout: 60000
  mail:
    host: smtp.gmail.com
    port: 587
    username: n21dccn021@student.ptithcm.edu.vn
    password: klze labx jrgh bwen
    properties.mail.smtp:
      auth: true
      starttls.enable: true

env:
  jwt:
    secret-key: "odjF+SYmu+CMjO3SDf3cpM1IjfhCQfdMnMcpP9v63o+b/SrdReK6EwNHvwE8LcyQomnBrYJm4J7s3S1UAqC3GW+afWRox8nu6XXUWMjjJP4="
    access-time: 120
    refresh-time: 605_000
  services:
    front-end: "http://localhost:3000"
    gateway: "http://localhost:9000"
  variables:
    min-age: 14
    default-coins: 3000