server:
  port: 9999
  tomcat:
    relaxed-query-chars: "[, ]"

logging:
  level:
    org.springframework:
        security: DEBUG
        web.cors: DEBUG

spring:
  application:
    name: intern_project
  jackson:
    time-zone: "Asia/Ho_Chi_Minh"
  security:
    user:
      name: none
      password: none
  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/task_management?createDatabaseIfNotExist=true&autoReconnect=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Ho_Chi_Minh&useSSL=false}
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    username: ${DBMS_USERNAME:root}
    password: ${DBMS_PASSWORD:sa}
  jpa:
    defer-datasource-initialization: true   # Tell Spring to init Schema firstly, before Data is init
    database: mysql
    database-platform: "org.hibernate.dialect.MySQL8Dialect"
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#  sql:
#    init:
#      mode: always
#      encoding: UTF-8
#      data-locations: classpath:scripts/init.sql
  data:
    redis:
      url: ${REDIS_CONNECTION:redis://localhost:6379}
      timeout: 60000
  mail:
    host: smtp.gmail.com
    port: 587
    username: n21dccn021@student.ptithcm.edu.vn
    password: klze labx jrgh bwen
    properties.mail.smtp:
      auth: true
      starttls.enable: true

env:
  jwt:
    secret-key: "odjF+SYmu+CMjO3SDf3cpM1IjfhCQfdMnMcpP9v63o+b/SrdReK6EwNHvwE8LcyQomnBrYJm4J7s3S1UAqC3GW+afWRox8nu6XXUWMjjJP4="
    access-time: 120
    refresh-time: 605_000
  services:
    front-end: "http://localhost:3000"
    gateway: "http://localhost:9000"
  variables:
    min-age: 14
