server:
  port: 9999
  tomcat:
    relaxed-query-chars: "[, ]"

logging:
  level:
    org.springframework:
      security: DEBUG
      web.cors: DEBUG

spring:
  application:
    name: intern_project
  jackson:
    time-zone: "Asia/Ho_Chi_Minh"
  security:
    user:
      name: none
      password: none
  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306}/${DB_NAME:task_management}?createDatabaseIfNotExist=true&autoReconnect=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Ho_Chi_Minh&useSSL=false
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    username: ${DBMS_USERNAME:root}
    password: ${DBMS_PASSWORD:sa}
  sql:
    init:
      mode: always
      encoding: UTF-8
      data-locations:
        - classpath:scripts/base_info.sql
        - classpath:scripts/root_project.sql
        - classpath:scripts/interf.sql
  jpa:
    defer-datasource-initialization: true   # Tell Spring to init Schema firstly, before Data is init
    database: mysql
    database-platform: "org.hibernate.dialect.MySQL8Dialect"
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      url: ${REDIS_CONNECTION:redis://localhost:6379}
      timeout: 60000
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:n21dccn021@student.ptithcm.edu.vn}
    password: ${MAIL_PASSWORD:klze labx jrgh bwen}
    properties.mail.smtp:
      auth: true
      starttls.enable: true
  quartz:
    job-store-type: jdbc  # backup schedules location (to re-try).
    jdbc:
      initialize-schema: always
    properties:
      org.quartz:
        scheduler:
          instanceName: predRecordScheduler
        threadPool:
          threadCount: 5

env:
  #  authzed:
  #    endpoint: ${AUTHZED_ENDPOINT:localhost:50051}
  #    token: ${AUTHZED_TOKEN:local-secret-token}
  jwt:
    secret-key: "odjF+SYmu+CMjO3SDf3cpM1IjfhCQfdMnMcpP9v63o+b/SrdReK6EwNHvwE8LcyQomnBrYJm4J7s3S1UAqC3GW+afWRox8nu6XXUWMjjJP4="
    access-time: 605_000
    refresh-time: 605_000
  data:
    accounts-creations-exl: "data/accounts_creation.xlsx"
    created-accounts-txt: "data/created_accounts.txt"
  services:
    front-end: ${SERVICES_FRONTEND:http://localhost:3000}
    gateway: ${SERVICES_GATEWAY:http://localhost:9000}
  variables:
    min-age: 14
    expired-acc-cache-min: 15
  quartz:
    tsk-usr-pred:
      save-new-record:
        min-batch-size: 40
      renew-model:
        job-name: "intervalRenewModel"
        trigger-name: "intervalRenewModelTrg"
        cron-time: ${QUARTZ_TSKUSRPRED_RENEWMODEL_CRONTIME:0 0 0 ? * MON}
  fastapi:
    host: "http://localhost:8000"
    communicate-key: ${FASTAPI_COMKEY:NHvwE8LcyQomnBrYJm4J7s3S}
    communicate-msg: ${FASTAPI_COMMSG:C3GW+afWRox8nu6XXUWMjjJP}
    controllers:
      tsk-usr-pred:
        save-records: "/api/private/v1/task-user-pred/update-model"
        users-recommend: "/api/private/v1/task-user-pred/recommend-users"
        renew-model: "/api/private/v1/task-user-pred/renew-model"
      report-gen:
        generate-report: "/api/private/v1/report/generate"
  crypto:
    transformation: "AES/ECB/PKCS5Padding"
    algorithm: "AES"